<!DOCTYPE html>
<html>
<head>
    <title>Breakfast Recipes</title>
    <style>
        /* Add your custom styles here */
        /* Example styles for the recipe container */
        .recipe-container {
            margin-bottom: 20px;
        }

        .recipe-container h2 {
            font-size: 24px;
            margin-bottom: 10px;
        }

        .recipe-container img {
            width: 100%;
            height: auto;
        }
    </style>
</head>
<body>
    <h1>Breakfast Recipes</h1>

    <div class="row">
        {% for recipe in breakfast_recipes %}
            <div class="column">
                <div class="recipe-container">
                    <h2>{{ recipe.recipe_name }}</h2>
                    <img src="{{ recipe.pic.url }}" alt="{{ recipe.recipe_name }}">
                </div>
            </div>
        {% endfor %}
    </div>
</body>
</html>