<!DOCTYPE html>
<html>
<head>
	<title>My Recipes - Recipes</title>
	<!-- <style>
		/* Styles for the columns */
		.column {
			float: left;
			width: 33.33%;
			padding: 10px;
			box-sizing: border-box;
		}
		/* Clear floats after the columns */
		.row::after {
			content: "";
			clear: both;
			display: table;
		}
		/* Styles for the images */
		img {
			width: 100%;
			height: auto;
			transition: all 0.3s ease;
			cursor: pointer;
		}
		/* Styles for the hover effect */
		img:hover {
			transform: scale(1.05);
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
		}
	</style>
</head>
<body>
	<h1>My Recipes - Recipes</h1>
	<div class="row">
		<div class="column">
			<h2>French Toast</h2>
			<a href="details.html"><img src="{% static 'french_toast_img.jpg' %}" alt="French Toast"></a>
		</div>
		<div class="column">
			<h2>Rice and Beans</h2>
			<a href="details.html"><img src="{% static 'rice_img.jpg' %}" alt="Rice and Beans"></a>
		</div>
		<div class="column">
			<h2>Spaghetti</h2>
			<a href="details.html"><img src="{% static 'spaghetti_img.jpg' %}" alt="Spaghetti"></a> -->
		<!-- </div>
	</div> -->
	
</head>
<body>
</body>
</html>